body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .content {
    padding: 20px;
  }
  
  .go-top-button {
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .go-top-button.active {
    opacity: 1;
    visibility: visible;
  }
  
  .go-top-button i {
    margin-top: 3px;
  }
  
  /* Optional: Add hover effect */
  .go-top-button:hover {
    background-color: #0057b300;
  }
  
  .greenText {
    color: green;
  }
  
  .purpleText {
    color: purple;
  }
  
  :root {
    --clr-background: whitesmoke;
    --clr-main: tomato;
  }
  
  body {
    margin: 0;
  }
  
  .spinner-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-background);
  }
  
  .spinner-container .spinner {
    height: 100px;
    width: 100px;
    background-color: var(--clr-main);
    border-radius: 50%;
    position: relative;
    animation: animateRotate 3s linear infinite;
  }
  
  .spinner-container .spinner::before,
  .spinner-container .spinner::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: var(--clr-background);
    top: 50%;
    transform: translateY(-50%);
  }
  
  .spinner-container .spinner::before {
    height: calc(85% + 3px);
    width: calc(85% + 3px);
    left: -2px;
    animation: animateBall 1s infinite linear alternate;
  }
  
  .spinner-container .spinner::after {
    height: calc(15% + 3px);
    width: calc(15% + 3px);
    right: -2px;
    animation: animateBall 1s infinite linear alternate-reverse;
  }
  
  @keyframes animateBall {
    from { height: calc(85% + 3px); width: calc(85% + 3px); }
    to {height: calc(15% + 3px); width: calc(15% + 3px); }
  }
  
  @keyframes animateRotate {
    to { transform: rotate(360deg); }
  }